.body {
  margin-inline: 4rem;
  padding-bottom: 4rem;
  > ul {
    margin-top: 2rem;
    border-radius: 5px;
    background-color: #f64fc4ca;
    padding: 1rem 2rem;
    color: white;
    > li {
      padding-left: 2rem;
      list-style-position: inside;
      text-transform: capitalize;
      padding-bottom: 0.4rem;
    }
    > h2 {
      letter-spacing: 2px;
      padding-bottom: 1rem;
      text-decoration: underline #12c2e9be;
      text-underline-offset: 7px;
    }
  }
  input[type="file"] {
    display: none;
  }
  input[type="file"] + label {
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
  }
  .Title {
    > h3 {
      text-transform: capitalize;
      background-color: #c471ed;
      color: white;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 10px;
      margin-top: 2rem;
      font-size: 2rem;
    }
    > span {
      display: block;
      width: fit-content;
      margin-block: 15px;
      border: none;
      background-color: dodgerblue;
      color: white;
      padding: 5px 10px;
      font-size: large;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .select-graph {
    background: #f64f59;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: large;
    > option {
      background-color: darkcyan;
      border-radius: inherit;
      border: none;
    }
  }
}

.bar-graph-div {
  margin-top: 2rem;
  > section {
    margin-block: 2rem;
    h4 {
      text-transform: capitalize;
      width: fit-content;
      color: white;
      border-radius: 5px;
      background-color: deepskyblue;
      padding: 10px 20px;
      border-radius: 10px;
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    > select {
      margin-top: 1rem;
      border: none;
      outline: none;
      background-color: #f64fc4ca;
      color: white;
      padding: 5px 10px;
      font-size: large;
      border-radius: 5px;
      > option {
        background-color: darkcyan;
      }
    }
    > div {
      user-select: none;
      > input {
        display: none;
        &:checked + label {
          background-color: #f64f59;
        }
      }
      > label {
        cursor: pointer;
        background-color: darkcyan;
        color: white;
        display: block;
        width: fit-content;
        padding: 5px 10px;
        font-size: large;
        font-weight: 600;
        border-radius: 5px;
        margin-block: 15px;
      }
    }
  }
  > div {
    width: 100%;
    > canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
}
